.todoItem {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.todoItem:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.toDoLink {
	text-decoration: none;
	color: inherit;
	display: flex;
}
