.todoText {
	width: 370px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
}

.todoText:first-letter {
	text-transform: uppercase;
}

.todoText:hover {
	color: #3AB37C;
	cursor: pointer;
}
